<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="left-sidebar">
          <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            <div class="panel panel-default">
              <div class="panel-heading"></div>
              <div id="sportswear" class="panel-collapse collapse"></div>
            </div>
            <div class="panel panel-default">
              <div id="mens" class="panel-collapse collapse"></div>
            </div>

            <div class="panel panel-default">
              <div id="womens" class="panel-collapse collapse"></div>
            </div>
          </div>
          <!--/category-products-->

          <div class="brands_products"><!--brands_products--></div>
          <!--/brands_products-->

          <div class="price-range"><!--price-range--></div>
          <!--/price-range-->

          <div class="shipping text-center"><!--shipping--></div>
          <!--/shipping-->
        </div>
      </div>
      <div class="col-sm-9">
        <div class="blog-post-area">
          <div class="pagination-area">
            <ul class="pagination">
              <li><a class="active">1</a></li>
              <li><a>2</a></li>
              <li><a>3</a></li>
              <li>
                <a><i class="fa fa-angle-double-right"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
