<div style="margin:0 8% ;">
	<app-slider></app-slider>
	<!-- <app-recommended-items></app-recommended-items> -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<app-filter-bar></app-filter-bar>
				</div>

				<div class="col-sm-9 padding-right">
					
					<app-features-item-index></app-features-item-index>
					<!--features_items-->

					<app-product-navigate></app-product-navigate>
					<!--/category-tab-->

					<app-recommended-items></app-recommended-items>
					<!--/recommended_items-->

				</div>
			</div>
		</div>
	</section>
</div>