<div class="left-sidebar">
  <h2>Category</h2>
  <div class="panel-group category-products" id="accordian">
    <!--category-productsr-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            Sportswear
          </a>
        </h4>
      </div>
      <div id="sportswear" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a>Nike </a></li>
            <li><a>Under Armour </a></li>
            <li><a>Adidas </a></li>
            <li><a>Puma</a></li>
            <li><a>ASICS </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#mens">
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            Mens
          </a>
        </h4>
      </div>
      <div id="mens" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a>Fendi</a></li>
            <li><a>Guess</a></li>
            <li><a>Valentino</a></li>
            <li><a>Dior</a></li>
            <li><a>Versace</a></li>
            <li><a>Armani</a></li>
            <li><a>Prada</a></li>
            <li><a>Dolce and Gabbana</a></li>
            <li><a>Chanel</a></li>
            <li><a>Gucci</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#womens">
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            Womens
          </a>
        </h4>
      </div>
      <div id="womens" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><a>Fendi</a></li>
            <li><a>Guess</a></li>
            <li><a>Valentino</a></li>
            <li><a>Dior</a></li>
            <li><a>Versace</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a>Kids</a></h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a>Fashion</a></h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a>Households</a></h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a>Interiors</a></h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a>Clothing</a></h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a>Bags</a></h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a>Shoes</a></h4>
      </div>
    </div>
  </div>
  <!--/category-products-->

  <div class="brands_products">
    <!--brands_products-->
    <h2>Brands</h2>
    <div class="brands-name">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a> <span class="pull-right">(50)</span>Acne</a>
        </li>
        <li>
          <a> <span class="pull-right">(56)</span>Grüne Erde</a>
        </li>
        <li>
          <a> <span class="pull-right">(27)</span>Albiro</a>
        </li>
        <li>
          <a> <span class="pull-right">(32)</span>Ronhill</a>
        </li>
        <li>
          <a> <span class="pull-right">(5)</span>Oddmolly</a>
        </li>
        <li>
          <a> <span class="pull-right">(9)</span>Boudestijn</a>
        </li>
        <li>
          <a>
            <span class="pull-right">(4)</span>Rösch creative culture</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!--/brands_products-->

  <!--price-range-->
  <div class="price-range">
    <h2>Price Range</h2>
    <div class="well text-center">
      <nouislider id="slider-round"
        class="pmd-range-slider pmd-range-tooltip"
        [config]="someRange2config"
        [(ngModel)]="someRange2"
      >
      </nouislider>

      <span style="display: flex">
        <p>$0</p>
        <p style="margin-left: 77%">$600</p>
      </span>
    </div>
  </div>

  <!--/price-range-->

  <div class="shipping text-center">
    <!--shipping-->
    <img src="../../../../../assets/images/home/shipping.jpg" alt="" />
  </div>
  <!--/shipping-->
</div>
